<div class="root">
  <div class="container">

    <div class="left-area">
      <img class="logo" src='/assets/svg/logo.svg'>
      <h1>Product Forecasting KPI Dashboard</h1>
      <p class="description">The most effective online tools to helps and improve brand with better planning, and maintain strategic decisions based on accurate insights that optimize brand performance.</p>
      <footer>
        <nav>
          <span>Contact TL</span>
          <span>Terms of use</span>
          <span>Privacy policy</span>
          <span>Cookie settings</span>
        </nav>
        <div class="copyright">© TL 2019</div>
      </footer>
    </div>

    <div class="right-area">
      <h2>Log in</h2>
      <div class="right-content">
        <app-input label="User Id"></app-input>
        <app-input label="Password" type="password"></app-input>
        <app-checkbox label="Remember me?"></app-checkbox>
      </div>
    </div>

  </div>
</div>
