@import '../../styles/all';

label {
  @include roboto-bold;
  display: block;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-items: center;

  input {
    @include roboto-regular;
    width: 260px;
    height: 40px;
    padding-left: 9.6px;
    border-radius: 5px;
    border: solid 1px $dark-gray;
    background-color: $white;
    color: $gray;
    font-size: 16px;
    line-height: 19px;

    &:focus {
      border-color: $turquoise;
      outline: none;
    }
  }

  .show {
    @include button-reset;
    @include font-size-md;
    color: $dark-gray;
    margin-left: -10px;
    transform: translateX(-100%);
    cursor: pointer;
  }
}
