@import '~normalize.css/normalize.css';
@import 'styles/fonts';

html, body {
  margin: 0;
  padding: 0;
}

html {
  @include roboto-regular;
  font-size: 14px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
}
